<rs-box
  class="user-card"
  role="article"
  [attr.aria-labelledby]="'user-finder-card-title-' + user().id"
>
  <div>
    <a [routerLink]="profileRoute()" [attr.aria-label]="user().username">
      <rs-avatar
        [src]="user().imageURL"
        [userName]="user().username"
        [alt]="user().username"
        [size]="76"
      />
    </a>
  </div>
  <div class="layout">
    <h3 [id]="'user-finder-card-title-' + user().id">{{ user().username }}</h3>

    <div class="body">
      <p class="description">{{ user().description || ('NO_DESCRIPTION' | translate) }}</p>
    </div>
    <rs-divider type="gradient" />

    <div class="preferences">
      <section class="preference">
        <h4>{{ 'ROLE' | translate }}</h4>
        <div class="badges">
          @if (user().favoriteRole?.length) {
            @for (role of user().favoriteRole!; track role) {
              <rs-badge
                [label]="('ROLE_' + role) | translate"
                [variant]="EVariant.SECONDARY"
              />
            }
          } @else {
            <p class="muted">{{ 'USER_FINDER_NO_ROLES' | translate }}</p>
          }
        </div>
      </section>

      <section class="preference">
        <h4>{{ 'RULES' | translate }}</h4>
        <div class="badges">
          @if (user().favoriteRules?.length) {
            @for (rule of user().favoriteRules!; track rule) {
              <rs-badge
                [label]="('SYSTEM_RULE_' + rule) | translate"
                [variant]="EVariant.SECONDARY"
              />
            }
          } @else {
            <p class="muted">{{ 'USER_FINDER_NO_RULES' | translate }}</p>
          }
        </div>
      </section>

      <section class="preference">
        <h4>{{ 'LANGUAGE' | translate }}</h4>
        <div class="badges">
          @if (user().favoriteLanguage?.length) {
            @for (language of user().favoriteLanguage!; track language) {
              <rs-badge
                [label]="('LANGUAGE_' + language) | translate"
                [variant]="EVariant.SECONDARY"
              />
            }
          } @else {
            <p class="muted">{{ 'USER_FINDER_NO_LANGUAGES' | translate }}</p>
          }
        </div>
      </section>
    </div>
    <div class="actions">
      <rs-button
        [disabled]="alreadyContact()"
        [inProgress]="inProgress()"
        (pressed)="onAddContactPressed()"
      >
        {{ alreadyContact() ? ('ALREADY_A_CONTACT' | translate) : ('ADD_TO_CONTACTS' | translate) }}
      </rs-button>

      @if (hasMenuOptions()) {
        <rs-more-options
          [options]="menuOptions()"
          [disabled]="inProgress()"
          (actionSelected)="onMenuOptionSelected($event)"
        />
      }
    </div>
  </div>
</rs-box>
