<section class="locations-table">
  <div class="header">
    <div>
      {{ 'LOCATION_NAME' | translate }}
    </div>
    <div class="last-active-column">
      {{ 'LAST_ACTIVE' | translate }}
    </div>
    <div class="interactions-column">
      {{ 'INTERACTIONS' | translate }}
    </div>
    <div class="actions-column">
      {{ 'ACTIONS' | translate }}
    </div>
  </div>

  @if (hasLocations()) {
    <div class="body">
      @for (location of locationsState(); track location.id; let index = $index) {
        <button
          class="row"
          (click)="onLocationPressed(location)"
        >
          <div class="name">
            {{ location.locationName }}
          </div>
          <div class="last-active-column">
            {{ location.lastTimeActive | date:'y MMM d' }}
          </div>
          <div class="interactions-column">
            {{ location.postsCount }}
          </div>
          <div class="actions-column">
            <rs-more-options
              [options]="[{ text: ('DELETE_LOCATION' | translate), action: EAction.DELETE }]"
              [disabled]="!canDeleteLocation(location)"
              (actionSelected)="onOptionSelected(location, index, $event)"
            ></rs-more-options>
          </div>
        </button>
      }
    </div>
  } @else {
    <div class="empty">
      <p>{{ 'NO_LOCATIONS' | translate }}</p>
    </div>
  }
</section>

@if (confirmDeleteOpen()) {
  <rs-dialog-modal
    [title]="'Delete location'"
    [ctaBtnOne]="cancelCta"
    [ctaBtnTwo]="confirmDeleteCta"
    (closePressed)="closeDeleteConfirm()"
    (ctaBtnOnePressed)="closeDeleteConfirm()"
    (ctaBtnTwoPressed)="confirmDeleteLocation()"
  >
    <ng-template>
      <p>Are you sure you want to delete this location? This action is irreversible.</p>
    </ng-template>
  </rs-dialog-modal>
}
