@use "../../../styles/mixins" as mix;

:host {
  @include mix.main-host();
}

.home-view {
  @include mix.main-wrapper();
  gap: var(--space-2, 1rem);
}

.content {
  display: flex;
  width: min(720px, 100%);
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2, 1rem);
}

rs-view-header,
rs-patch-notes {
  width: 100%;
}

.favorite-tale {
  width: min(360px, 100%);
}
