<section class="tale-details">
  @if (isLoading()) {
    <div class="status">
      <rs-spinner [variant]="EVariant.PRIMARY"/>
    </div>
  } @else {
    @if (tale(); as tale) {
      <rs-tale-details-card [tale]="tale"/>
      @if (tale.participants.length) {
        <rs-carousel
          [title]="'PARTICIPANTS' | translate"
          [slides]="tale.participants"
          [slidesPerView]="'auto'"
          [slidesPerGroup]="1"
          [spaceBetween]="12"
          class="participants-carousel"
        >
          <ng-template let-participant>
            <button class="participant-card" type="button" (click)="onParticipantPressed(participant)">
              <rs-avatar
                [src]="participant.characterImageUrl"
                [userName]="participantDisplayName(participant)"
                [alt]="participantDisplayName(participant)"
                [size]="64"
              />
              <span class="participant-name">{{ participantDisplayName(participant) }}</span>
            </button>
          </ng-template>
        </rs-carousel>
      }
      <div class="table-locals">
        <div class="actions">
          @if (isDm()) {
            <rs-round-icon-button
              [iconSrc]="'/assets/svgs/search.svg'"
              [ariaLabel]="'SEARCH_LOCATION' | translate"
              (pressed)="navigateToSearch()"
              [variant]="EVariant.PREMIUM"
            />
          }
          <div>
            <rs-button (pressed)="navigateToListofLocations()">
              {{ 'VIEW_LOCATIONS' | translate }}
            </rs-button>
          </div>
        </div>
        <rs-locations-table
          [locations]="tale.locations"
          [taleId]="tale.id"
        />
      </div>
    }
  }

</section>
