:host {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  .cover {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    overflow: hidden;

    ::ng-deep .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .body {
    display: flex;
    padding: var(--space-1);
    gap: var(--space-1);
    flex: 1;

    .content {
      width: 100%;
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--space-0-5);
      }
    }

  }
}
