<rs-box class="card" [minHeight]="hasImage() ? 320 : null">
  @if (hasImage()) {
    <div class="cover">
      <img
        class="image"
        [src]="location().imageUrl!"
        [alt]="location().imageUrl || ''"
        loading="lazy"
      />
    </div>
  }

  <div class="body">
    <rs-avatar [src]="location().author.characterImageUrl" [userName]="location().author.characterName" [size]="40"/>
    <div class="content">
      <div class="info">
        <h2>{{ authorName() }}</h2>
        <p class="muted">
          @if (location().lastTimeActive) {
            {{ location().lastTimeActive | date:'y MMMM d' }}
          } @else {
            -
          }
        </p>
      </div>
      <p>{{ location().description || ('NO_DESCRIPTION' | translate) }}</p>
    </div>
  </div>
</rs-box>
