@if (safeSrc()) {
  @if (useNgSrc()) {
    <img
      [ngSrc]="safeSrc()!"
      [ngSrcset]="ngSrcset() ?? ''"
      [alt]="alt()"
      [width]="width()"
      [height]="height()"
      [sizes]="sizes() || undefined"
      [loading]="loading() || undefined"
      [decoding]="decoding() || undefined"
      [attr.fetchpriority]="fetchPriority()"
      [fill]="fill()"
      [priority]="priority()"
      [attr.aria-hidden]="ariaHidden()"
      (load)="onLoad($event)"
      (error)="onError($event)"
    />
  } @else {
    <img
      [src]="safeSrc()!"
      [alt]="alt()"
      [attr.width]="width()"
      [attr.height]="height()"
      [attr.sizes]="sizes()"
      [attr.loading]="loading()"
      [attr.decoding]="decoding()"
      [attr.fetchpriority]="fetchPriority()"
      [attr.aria-hidden]="ariaHidden()"
      (load)="onLoad($event)"
      (error)="onError($event)"
    />
  }
}
